* {
  box-sizing: border-box;
  scroll-behavior: smooth;
}
body {
  padding: 0;
  margin: 0;
  // background-color: #83adcd;
}
.signature__contant__nav__menu {
  background-color: #511b3b;
  border: none;
  display: none;
  cursor: pointer;
  padding: 12px;
  border-radius: 8px;
}

.sinature__main__container {
  position: relative;
  width: 100%;
}
.main__header__img img {
  width: 100%;
  height: 100%;
  // max-height: 600px;
  margin: 0 auto;
  // max-width: 1920px;
}

.sign__nav__bar__wraper {
  width: 100%;
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: space-between;
  top: 0;
  left: 0;
  right: 0;
  padding: 1em 3em;
  max-width: 1440px;
  margin: 0 auto;
  position: fixed;
  z-index: 999;
  border-radius: 0px 0px 20px 20px;
}
.sign__nav__bar__wraper__active {
  background-color: rgb(255, 255, 255);
  padding: 1em;
}
.sign__nav__link {
  text-decoration: none;
  padding: 1em;
  margin: 0px 5px;
  color: black;
  font-size: 14px;
}
.sign__nav__link:hover {
  border-bottom: 3px solid #af9131;
  transition: 0.2s ease-in-out;
  border-radius: 12px;
}
.sign__header__contant {
  position: absolute;
  bottom: 20px;
  left: 0;
  right: 0;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.sign__header__contant__heading {
  font-size: 35px;
  color: white;
  font-weight: 300;
  font-family: "Sweet Sans Pro", sans-serif;
}
.sign__header__contant__sub__heading {
  color: #511b3b;
  font-size: 45px;
  font-family: "El Messiri", sans-serif;
}
.sign__location__card__wraper {
  width: 100%;

  margin: -1em auto 0 auto;
  background-color: #83adcd;
}
.sign__loction__card__container {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  padding: 5em 0em;
  max-width: 1440px;
  margin: 0 auto;
}
.sign__loction__card {
  border: 1px solid #f7f5f6;
  margin: 3px 12px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding: 2em 2.5em 1em 2.5em;
  border-radius: 8px;
  min-height: 230px;
  color: white;
  cursor: pointer;
  width: 29%;
}
.sign__loction__card:hover {
  background-color: white;
  color: #511b3b;
  transition: 0.2s ease-in-out;
}
.sign__loction__card__contant__heading {
  font-size: 22px;
  color: inherit;
  font-weight: 300;
  margin-top: 15px;
}
.sign__loction__card__contant__sub__heading {
  font-size: 16px;
  color: inherit;
  font-weight: 200;
}
.nature__container {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  max-width: 1440px;
  margin: 0 auto;
  background-color: #fff;
}
.nature__container__left {
  width: 50%;
  display: flex;
  align-items: center;
  flex-direction: column;
  // margin: 0em 4em;
}
.nature__container__left__text {
  padding-right: 5em;
  width: 98%;
}
.nature__container__left__text__heading {
  font-size: 28px;
  font-weight: 600;
  color: #511b3b;
}
.nature__container__left__text__sub__heading {
  font-size: 16px;
}
.nature__container__right {
  width: 50%;
}
.nature__container__right__img img {
  height: 500px;
  width: 100%;
  position: relative;
  margin-top: -2em;
}
.nature__logo__start {
  display: flex;
  align-items: center;
}
.nature__logo__start img {
  position: absolute;
  left: -6%;
  height: 200px;
}
.freshness__container {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 1440px;
  margin: 0 auto;
  background-color: #ffff;
}
.freshness__container__img {
  width: 50%;
}
.freshness__container__img img {
  height: 500px;
  width: 100%;
}
.freshness__container__contant {
  width: 45%;
  margin-left: 2em;
}
.freshness__container__contant__heading {
  font-size: 28px;
  font-weight: 600;
  color: #511b3b;
  margin-bottom: 5px;
}
.freshness__container__contant__sub__heading {
  font-size: 16px;
  width: 100%;
}
.freshness__container__sign__logo svg {
  height: 190px;
}
.feature__container {
  width: 100%;
  display: flex;
  align-content: center;
  flex-direction: column;
  max-width: 1440px;
  margin: 0 auto;
  margin-top: 3em;
}
.feature__container__text {
  width: 55%;
  padding-bottom: 2em;
}
.feature__container__text__heading {
  font-size: 28px;
  font-weight: bold;
}
.feature__container__text__sub__heading {
  font-size: 20px;
  font-weight: lighter;
}
.feature__cards__wraper {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: center;
  margin-top: 2em;
}
.feature__img__first__card__wraper {
  width: 30%;
}
.feature__img__sec__card__wraper {
  width: 30%;
  position: relative;
  margin-top: -5em;
}
.feature__img__thr__card__wraper {
  width: 30%;
  position: relative;
  margin-top: -16em;
}
.feature__img__card__one {
  // margin: 1em;
  width: 104%;
}
.feature__img__card__one img {
  margin: 1em 0em;
  width: 90%;
}
.buttom__sub__container {
  width: 100%;
  max-width: 1440px;
  flex-direction: column;
  margin-top: 2em;
  padding-top: 2em;
}
.buttom__contant__container {
  display: flex;
  align-items: center;
  justify-content: center;

  background-color: #83adcd;
}
.buttom__contant__heading {
  font-size: 28px;
  font-weight: 600px;
  color: white;
  padding-top: 2em;
  padding-bottom: 1em;
  display: flex;
  justify-content: center;
}
.buttom__contant__card__wraper {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  width: 100%;
  color: #f7f5f6;
}
.buttom__contant__card {
  border: 1px solid #fffeff;
  width: 26%;
  padding: 2em 1em;
  margin: 1em 0.5em;
  border-radius: 8px;
  height: fit-content;
  cursor: pointer;
  min-height: 230px;
}
.buttom__contant__card:hover {
  background-color: #f7f5f6;
  color: #511b3b;
}
.buttom__contant__card:hover .buttom__contant__card__svg svg {
  stroke: #511b3b;
  fill: white;
}
.buttom__contant__card__svg svg {
  height: 90px;
}
.buttom__contant__card__heading {
  margin: 7px 0px;
  font-weight: bold;
}
.footer__img__container {
  position: relative;
  width: 100%;
  background-color: #83adcd;
}
.footer__img img {
  width: 100%;
}
.footer__main__container {
  position: absolute;
  top: 60%;
  left: 0;
  right: 0;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-evenly;
}
.footer__logo__sec {
  width: 25%;
  display: flex;
  flex-direction: column;
}

.footer__logo__signature svg {
  height: 80px;
  margin-bottom: 12px;
}
.footer__logo__sec__contant {
  font-size: 14px;
}
.footer__pages__links__section {
  width: 15%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.footer__pages__links__section__heading {
  font-size: 18px;
  color: #511b3b;
  margin-bottom: 3px;
}
.footer__pages__link {
  margin: 3px 0px;
}
.footer__page__sub__link {
  color: black;
  font-size: 14px;
  text-decoration: none;
}
.quick__linK__section {
  width: 15%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin-bottom: 1em;
}
.quick__linK__section__heading {
  font-size: 18px;
  color: #511b3b;
  margin-bottom: 3px;
}
.quick__sub__link {
  margin: 3px 0px;
}
.quick__sub__link__detail {
  color: black;
  font-size: 14px;
  text-decoration: none;
}
.mailing__container {
  width: 20%;
  margin-bottom: 1em;
}
.mailing__container__heading {
  font-size: 18px;
  font-weight: 600;
  color: #511b3b;
  padding-bottom: 5px;
}
.mailing__container__sub__heading {
  font-size: 14px;
}
.mail__input__bar {
  margin-top: 9px;
  width: 70%;
}
.mail__input__bar input {
  padding: 1em 0em;
  padding-left: 5px;
  width: 100%;
  border: none;
  background-color: rgb(255, 255, 255);
  border-radius: 6px;
  margin-top: 1em;
}
.mail__input__bar input:focus {
  outline: none;
}
.mail__input__bar svg {
  position: absolute;
  height: 40px;
  margin-left: -1em;
  margin-top: 14px;
}
@media (max-width: 400px) {
  .signature__contant__nav__menu {
    margin: 2px;
    padding: 4px;
  }
  .signature__header__logo {
    margin: 1px;
  }
  .signature__header__logo svg {
    height: 30px;
  }
  .sign__nav__bar__wraper {
    padding: 12px 20px;
  }

  .footer__logo__signature svg {
    height: 50px;
    width: 162px;
  }
  .buttom__contant__heading {
    font-size: 18px;
  }
  .footer__logo__sec {
    width: 90% !important;
  }
  .mail__input__bar {
    width: 100%;
  }
}

@media (max-width: 550px) {
  .main__header__img {
    height: 400px;
  }
  .main__header__img img {
    object-fit: cover;
  }
  .footer__img__container {
    margin-top: -11em;
    z-index: -1;
  }
  .sign__loction__card {
    height: 50px !important;
  }
  .sign__loction__card svg {
    height: fit-content !important;
  }
  .sign__header__contant {
    text-align: center;
    top: 95% !important;
  }
  .sign__header__contant__heading {
    font-weight: 300;
    font-size: 20px !important;
  }
  .sign__header__contant__sub__heading {
    font-size: 28px !important;
  }
  .nature__logo__start img {
    display: none;
  }
  .nature__container__left__text {
    margin-left: 0em !important;
  }
  .buttom__contant__card {
    width: 75% !important;
  }
  .signature__contant__nav__menu {
    padding: 8px !important;
  }
  .sign__loction__card {
    width: 60% !important;
    min-height: 190px !important;
  }
}
@media (max-width: 600px) {
  .nature__logo__start img {
    display: none;
  }
  .nature__container__right__img img {
    height: 250px !important;
  }
  .freshness__container__img img {
    height: 250px !important;
  }
  .nature__container__left__text__heading {
    font-size: 20px !important;
    margin-left: 0em !important;
  }
  .freshness__container__contant__heading {
    font-size: 20px !important;
  }
  .mailing__container {
    margin-top: 7px !important;
  }
  .nature__container {
    flex-direction: column;
  }
  .nature__container__left__text {
    margin: 1em 0em;
    padding: 0em !important;
  }
  .nature__container__right {
    width: 75%;
  }
  .nature__container__left {
    width: 80%;
  }
  .freshness__container {
    flex-direction: column-reverse;
    margin-top: 1em;
  }
  .freshness__container__img {
    width: 75%;
  }
  .freshness__container__contant {
    width: 75%;
    margin: 1em 0em;
  }
  .feature__img__first__card__wraper {
    flex-direction: column;
  }
  .feature__img__sec__card__wraper {
    flex-direction: column;
  }
  .feature__img__thr__card__wraper {
    flex-direction: column;
  }
  .feature__img__card__one {
    width: 80% !important;
  }
  .feature__container__text {
    width: 90%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }
  .feature__container__text__sub__heading {
    font-size: 16px !important;
    padding: 0em 3em;
  }
}
@media (max-width: 750px) {
  .sign__loction__card svg {
    height: 90px;
  }
  .freshness__container__sign__logo {
    display: none;
  }
  .sign__loction__card {
    width: 75%;
    justify-content: center;
    align-items: center;
    margin: 1em 0em;
  }
  .nature__container__right__img img {
    height: 300px;
    margin-top: 0em !important;
  }
  .nature__container__left__text {
    width: 90%;
    padding-right: 1em !important;
  }
  .nature__logo__start img {
    height: 100px !important;
  }
  .nature__container__left__text__sub__heading {
    font-size: 12px;
  }
  .nature__container__left__text__heading {
    font-size: 24px;
  }
  .freshness__container__img img {
    height: 300px;
  }
  .freshness__container__contant__heading {
    font-size: 24px;
  }
  .freshness__container__contant__sub__heading {
    font-size: 12px;
    width: 100%;
  }

  .footer__main__container {
    flex-direction: column;
    margin-top: -6.5em;
    top: 45% !important;
    align-items: flex-start;
    padding-left: 2em;
  }
  .footer__logo__sec {
    margin-bottom: 2em;
    align-items: flex-start;
  }
  .footer__pages__links__section {
    align-items: flex-start;
  }
  .quick__linK__section {
    align-items: flex-start;
  }
  .footer__img img {
    height: 150vh !important;
    object-fit: cover;
  }
  .buttom__contant__card__wraper {
    flex-direction: column;
  }
  .feature__container__text {
    display: flex;
    width: 100%;
    flex-direction: column;
    justify-content: center;
    // padding: 0em 3em;
  }
  .buttom__contant__container {
    margin-top: 2em;
  }
}
@media (max-width: 850px) {
  .sign__header__contant {
    top: 80%;
  }
  .buttom__contant__card {
    width: 45%;
  }
  .nature__container__right__img img {
    height: 350px;
  }
  .nature__container__left__text {
    margin-left: 4.5em;
    padding: 0px 12px;
  }
  .freshness__container__img img {
    height: 350px;
  }
  .nature__logo__start img {
    height: 150px;
  }
  .freshness__container__contant__sub__heading {
    width: 100%;
  }
}

@media (max-width: 900px) {
  .freshness__container__sign__logo {
    display: none;
  }
  .sign__header__contant__heading {
    font-size: 24px;
    margin-bottom: 8px;
  }
  .sign__header__contant__sub__heading {
    font-size: 30px;
  }

  .signature__contant__nav__menu {
    display: flex;
  }
  .sign__nav__links__wraper {
    position: absolute;
    top: 4.5em;
    right: 1em;
    background-color: #f7f5f6;
    color: #511b3b;
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 40%;
    border-radius: 12px;
    z-index: 999;
  }
  .sign__nav__links__wraper :hover {
    border-bottom: 1px solid #511b3b;
    border-radius: 1px;
  }
  .sign__nav__link {
    margin: 5px 0px;
    padding: 10px;
  }
  .nature__logo__start img {
    height: 170px;
    left: -10%;
  }
  .footer__logo__sec {
    width: 45%;
  }
  .footer__pages__links__section {
    width: 45%;
  }
  .quick__linK__section {
    margin-top: 2em;
    width: 45%;
  }
  .mailing__container {
    margin-top: 2em;
    width: 45%;
  }
  .feature__cards__wraper {
    flex-direction: column;
  }
  .feature__img__first__card__wraper {
    width: 100%;
    display: flex;
    align-items: center;
  }
  .feature__img__card__one {
    width: 50%;
    height: 250px;
    padding: 10px;
  }
  .feature__img__card__one img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-radius: 8px;
  }
  .feature__cards__wraper {
    align-items: unset;
  }
  .feature__img__sec__card__wraper {
    width: 100%;
    display: flex;
    margin-top: 0em;
    align-items: center;
  }
  .feature__img__thr__card__wraper {
    width: 100%;
    display: flex;
    margin-top: 0em;
    align-items: center;
  }
  .footer__main__container {
    top: 30%;
  }
  .footer__logo__signature svg {
    height: 60px;
  }
  .buttom__contant__container {
    margin-top: 2em;
  }
}
@media (max-width: 940px) {
  .footer__img img {
    height: 75vh;
    object-fit: cover;
  }
}
@media (max-width: 1150px) {
  .nature__logo__start img {
    height: 120px;
  }
}
