* {
  box-sizing: border-box;

  @import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300&display=swap");
}
body {
  padding: 0;
  margin: 0;
  // background-color: #83adcd;
  font-family: "Roboto", sans-serif;
}
.sinature__main__container {
  width: 100%;
  position: relative;
}

.main__header__img img {
  width: 100%;
  object-fit: cover;
}
.signature__header__logo button {
  width: fit-content;
  background-color: transparent;
  border: none;
  cursor: pointer;
}
.sign__nav__bar__wraper {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: space-between;
  top: 0;
  left: 0;
  right: 0;
  padding: 1em 3em;
  max-width: 1440px;
  margin: 0 auto;
}

.sign__nav__link {
  text-decoration: none;
  padding: 1em;
  margin: 0px 5px;
  color: black;
  font-size: 14px;
}
.sign__nav__link:hover {
  border-bottom: 3px solid #af9131;
  transition: 0.2s ease-in-out;
  border-radius: 12px;
}
.sign__header__contant {
  position: absolute;
  top: 80%;
  left: 0;
  right: 0;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.sign__header__contant__heading {
  font-size: 24px;
  color: white;
  font-weight: 300;
}
.sign__header__contant__sub__heading {
  color: #511b3b;
  font-size: 28px;
}
.location__backgroud__wraper {
  position: relative;
  width: 100%;
  margin-top: -0.5em;
}
.location__backgroud__wraper__img img {
  object-fit: cover;
  width: 100%;
  height: 300px;
}
.sign__loction__card__container {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 2em 0em;
  max-width: 1440px;
  margin: 0 auto;
  margin-top: 3em;
}
.sign__loction__card {
  width: 20%;
  border: 1px solid #f7f5f6;
  margin: 3px 12px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 1em 2em;
  border-radius: 8px;
  height: 170px;
  color: white;
  cursor: pointer;
}
.sign__loction__card:hover {
  background-color: white;
  color: #511b3b;
  transition: 0.2s ease-in-out;
}
.sign__loction__card__contant__heading {
  font-size: 22px;
  color: inherit;
  font-weight: 300;
  margin-top: 5px;
}
.sign__loction__card__contant__sub__heading {
  font-size: 16px;
  color: inherit;
  font-weight: 200;
}
.nature__container {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  max-width: 1440px;
  margin: 0 auto;
}
.nature__container__left {
  width: 50%;
  display: flex;
  align-items: center;
  flex-direction: column;
  // margin: 0em 4em;
}
.nature__container__left__text {
  padding-left: 6em;
  width: 80%;
}
.nature__container__left__text__heading {
  font-size: 28px;
  font-weight: 300;
  color: #511b3b;
}
.nature__container__left__text__sub__heading {
  font-size: 16px;
}
.nature__container__right {
  width: 50%;
}
.nature__container__right__img img {
  height: 500px;
  width: 100%;
  position: relative;
  margin-top: -2em;
}
.nature__logo__start {
  display: flex;
  align-items: center;
}
.nature__logo__start img {
  position: absolute;
  left: -6%;
  height: 200px;
}
.freshness__container {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 1440px;
  margin: 0 auto;
}
.freshness__container__img {
  width: 50%;
}
.freshness__container__img img {
  height: 400px;
  width: 100%;
}
.freshness__container__contant {
  width: 45%;
}
.freshness__container__contant__heading {
  font-size: 28px;
  font-weight: 400;
  color: #511b3b;
  margin-bottom: 5px;
}
.freshness__container__contant__sub__heading {
  font-size: 16px;
  width: 75%;
}
.freshness__right__logo {
  width: 20%;
  display: flex;
  align-items: center;
}
.freshness__right__logo svg {
  height: 200px;
  position: absolute;
  right: 0%;
}
.feature__container {
  width: 100%;
  max-width: 1440px;
  margin: 0 auto;
  padding: 1em;
  margin-top: 2em;
}
.feature__container__text {
  // margin-left: 8em;
  padding-left: 11em;
}
.feature__container__text__heading {
  font-size: 30px;
  font-weight: 600px;
  color: #511b3b;
}
.feature__container__text__sub__heading {
  font-size: 16px;
  width: 50%;
}
.feature__cards__wraper {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  margin-top: 6em;
}
.feature__img__first__card__wraper {
  width: 25%;
}
.feature__img__sec__card__wraper {
  width: 25%;
  position: relative;
  margin-top: -6em;
}
.feature__img__thr__card__wraper {
  width: 25%;
  position: relative;
  margin-top: -20em;
}
.feature__img__card__one img {
  height: 300px;
  min-height: 200px;
  width: 300px;
}
.feature__img__card__two img {
  height: 200px;
  width: 300px;
}
.feature__img__card__three img {
  height: 340px;
  width: 300px;
}
.feature__img__card__four img {
  height: 270px;
  width: 300px;
}
.feature__img__card__five img {
  height: 300px;
  width: 300px;
}
.feature__img__card__six img {
  height: 300px;
  width: 300px;
}
.buttom_container {
  width: 100%;
  position: relative;
}
.buttom__img img {
  width: 100%;
  height: 1100px;
  object-fit: cover;
}
.buttom__contant__container {
  position: absolute;
  top: 8%;
  left: 0;
  right: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  max-width: 1440px;
  margin: 0 auto;
}
.buttom__contant__heading {
  font-size: 28px;
  font-weight: 600px;
  color: white;
  padding-bottom: 1em;
}
.buttom__contant__card__wraper {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  color: #f7f5f6;
}
.buttom__contant__card {
  border: 1px solid #511b3b;
  width: 25%;
  padding: 2em 2em;
  margin: 1em 0.5em;
  border-radius: 8px;
  height: 200px;
  min-height: 180px;
}
.buttom__contant__card__svg svg {
  height: 90px;
}
.footer__main__container {
  position: absolute;
  top: 270%;

  left: 0;
  right: 0;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.footer__logo__sec {
  width: 25%;
}
.footer__logo__sec__contant {
  font-size: 14px;
}
.footer__pages__links__section {
  width: 15%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.footer__pages__links__section__heading {
  font-size: 18px;
  color: #511b3b;
  margin-bottom: 3px;
}
.footer__pages__link {
  margin: 3px 0px;
}
.footer__page__sub__link {
  color: black;
  font-size: 14px;
  text-decoration: none;
}
.quick__linK__section {
  width: 15%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin-bottom: 1em;
}
.quick__linK__section__heading {
  font-size: 18px;
  color: #511b3b;
  margin-bottom: 3px;
}
.quick__sub__link {
  margin: 3px 0px;
}
.quick__sub__link__detail {
  color: black;
  font-size: 14px;
  text-decoration: none;
}
.mailing__container {
  width: 20%;
  margin-bottom: 1 em;
}
.mailing__container__heading {
  font-size: 18px;
  font-weight: 600;
  color: #511b3b;
  padding-bottom: 5px;
}
.mailing__container__sub__heading {
  font-size: 14px;
}
.mail__input__bar {
  margin-top: 9px;
  width: 70%;
}
.mail__input__bar input {
  padding: 1em 0em;
  padding-left: 5px;
  width: 100%;
  border: none;
  background-color: white;
  border-radius: 6px;
}
.mail__input__bar svg {
  position: absolute;
  height: 40px;
  margin-left: 15em;
  margin-bottom: 3em;
}
@media (max-width: 750px) {
  .sign__header__contant {
    margin-top: 1em;
  }
  .nature__container__right__img img {
    height: 300px;
  }
}
